# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.eggs/

# Environments
.venv/
venv/
env/
.env
.envrc

# Jupyter
.ipynb_checkpoints/

# UV
# uv.lock  # keep for reproducibility

# Models & checkpoints
checkpoints/
Saved_Models/
*.pt
*.pth
*.ckpt

# Data (large files)
*.parquet
*.npy
*.hdf5
*.h5
# data/Isolated_ASL_Recognition/train_landmark_files/
# data/ASL_Fingerspelling_Recognition/train_landmarks/
# data/WLASL_Landmarks/train_landmark_files/
# data/cache/
# data/tokens/
data/

# Training artifacts
docs/
logs/
runs/
wandb/
lightning_logs/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Misc
*.png
screenshot.png
external/
WLASL_Repo/
